USE [BTL_API2]
GO
/****** Object:  Table [dbo].[Account]    Script Date: 12/25/2023 11:45:38 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Account](
	[username] [nvarchar](50) NOT NULL,
	[password] [nchar](50) NOT NULL,
	[type] [bit] NOT NULL,
 CONSTRAINT [PK_Account] PRIMARY KEY CLUSTERED 
(
	[username] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ChiTietDonHang]    Script Date: 12/25/2023 11:45:38 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ChiTietDonHang](
	[MaDonHang] [int] NOT NULL,
	[MaSanPham] [int] NOT NULL,
	[TenSanPham] [nvarchar](max) NOT NULL,
	[MauSac] [nvarchar](50) NOT NULL,
	[KichThuoc] [nchar](20) NOT NULL,
	[SoLuong] [int] NOT NULL,
	[DonGia] [decimal](18, 0) NOT NULL,
	[MaMau] [int] NULL,
 CONSTRAINT [PK__ChiTietD__DD39F0EF51C36A32] PRIMARY KEY CLUSTERED 
(
	[MaDonHang] ASC,
	[MaSanPham] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ChiTietDonHangNhap]    Script Date: 12/25/2023 11:45:38 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ChiTietDonHangNhap](
	[MaDonHang] [int] NOT NULL,
	[MaSanPham] [int] NOT NULL,
	[TenSanPham] [nvarchar](100) NULL,
	[Mau] [nvarchar](50) NOT NULL,
	[KichThuoc] [nchar](10) NOT NULL,
	[SoLuong] [int] NOT NULL,
	[DonGia] [float] NOT NULL,
	[MaMau] [int] NULL,
 CONSTRAINT [PK__ChiTietD__DD39F0EFAC42FF25] PRIMARY KEY CLUSTERED 
(
	[MaDonHang] ASC,
	[MaSanPham] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DonGia]    Script Date: 12/25/2023 11:45:38 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DonGia](
	[MaDonGia] [int] NOT NULL,
	[MaSanPham] [int] NOT NULL,
	[DonGia] [money] NOT NULL,
	[MoTa] [nvarchar](max) NOT NULL,
 CONSTRAINT [PK__DonGia__66AA6B056C747648] PRIMARY KEY CLUSTERED 
(
	[MaDonGia] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DonHang]    Script Date: 12/25/2023 11:45:38 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DonHang](
	[MaDonHang] [int] NOT NULL,
	[MaKhachHang] [int] NULL,
	[NgayTao] [datetime] NOT NULL,
	[DuyetDon] [bit] NOT NULL,
	[NgayGui] [datetime] NULL,
	[NgayNhan] [datetime] NULL,
 CONSTRAINT [PK__DonHang__129584AD78BDCC45] PRIMARY KEY CLUSTERED 
(
	[MaDonHang] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DonHangNhap]    Script Date: 12/25/2023 11:45:38 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DonHangNhap](
	[MaDonHang] [int] NOT NULL,
	[MaNCC] [int] NOT NULL,
	[NgayTao] [datetime] NOT NULL,
 CONSTRAINT [PK__DonHangN__129584AD00A33A4A] PRIMARY KEY CLUSTERED 
(
	[MaDonHang] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[HinhAnh]    Script Date: 12/25/2023 11:45:38 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HinhAnh](
	[MaHinhAnh] [int] IDENTITY(1,1) NOT NULL,
	[MaMau] [int] NULL,
	[HinhAnh] [nvarchar](max) NULL,
 CONSTRAINT [PK__HinhAnh__A9C37A9BEDEAFD37] PRIMARY KEY CLUSTERED 
(
	[MaHinhAnh] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[KhachHang]    Script Date: 12/25/2023 11:45:38 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[KhachHang](
	[MaKhachHang] [int] NOT NULL,
	[TenKhachHang] [nvarchar](100) NOT NULL,
	[username] [nvarchar](50) NULL,
	[SoDienThoai] [char](10) NOT NULL,
	[DiaChi] [nvarchar](max) NOT NULL,
 CONSTRAINT [PK__KhachHan__88D2F0E5B790F035] PRIMARY KEY CLUSTERED 
(
	[MaKhachHang] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[KichThuoc]    Script Date: 12/25/2023 11:45:38 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[KichThuoc](
	[MaKT] [int] IDENTITY(1,1) NOT NULL,
	[MaMau] [int] NULL,
	[KichThuocsp] [nchar](20) NOT NULL,
	[SoLuong] [int] NOT NULL,
 CONSTRAINT [PK__KichThuo__2725CF12A2908553] PRIMARY KEY CLUSTERED 
(
	[MaKT] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LoaiSanPham]    Script Date: 12/25/2023 11:45:38 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LoaiSanPham](
	[MaLoai] [int] NOT NULL,
	[TenLoai] [nvarchar](50) NOT NULL,
	[MoTa] [nvarchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[MaLoai] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MauSac]    Script Date: 12/25/2023 11:45:38 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MauSac](
	[MaMau] [int] NOT NULL,
	[MaSanPham] [int] NOT NULL,
	[Mau] [nvarchar](100) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[MaMau] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NhaCungCap]    Script Date: 12/25/2023 11:45:38 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NhaCungCap](
	[MaNCC] [int] NOT NULL,
	[TenNCC] [nvarchar](100) NOT NULL,
	[SoDienThoai] [char](10) NOT NULL,
	[DiaChi] [nvarchar](max) NOT NULL,
 CONSTRAINT [PK__NhaCungC__3A185DEB2F509E6B] PRIMARY KEY CLUSTERED 
(
	[MaNCC] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SanPham]    Script Date: 12/25/2023 11:45:38 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SanPham](
	[MaSanPham] [int] NOT NULL,
	[MaThuongHieu] [int] NOT NULL,
	[TenSanPham] [nvarchar](100) NOT NULL,
	[DonGia] [decimal](18, 0) NOT NULL,
	[MoTa] [nvarchar](max) NULL,
 CONSTRAINT [PK__SanPham__FAC7442DAE930500] PRIMARY KEY CLUSTERED 
(
	[MaSanPham] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ThuongHieu]    Script Date: 12/25/2023 11:45:38 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ThuongHieu](
	[MaThuongHieu] [int] NOT NULL,
	[MaLoai] [int] NULL,
	[TenThuongHieu] [nvarchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[MaThuongHieu] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[Account] ([username], [password], [type]) VALUES (N'binhbc269', N'123456                                            ', 1)
INSERT [dbo].[Account] ([username], [password], [type]) VALUES (N'thanhthao22', N'123456                                            ', 0)
INSERT [dbo].[Account] ([username], [password], [type]) VALUES (N'thanhthao2407', N'123456                                            ', 0)
GO
INSERT [dbo].[ChiTietDonHang] ([MaDonHang], [MaSanPham], [TenSanPham], [MauSac], [KichThuoc], [SoLuong], [DonGia], [MaMau]) VALUES (4, 1, N'Giày bóng rổ chính hãng Nike Kyrie 8 DC9134-001', N'Fire and Ice2', N'39                  ', 1, CAST(1900000 AS Decimal(18, 0)), 1)
INSERT [dbo].[ChiTietDonHang] ([MaDonHang], [MaSanPham], [TenSanPham], [MauSac], [KichThuoc], [SoLuong], [DonGia], [MaMau]) VALUES (4, 2, N'Giày bóng rổ PEAK E11123A', N'Xanh', N'42                  ', 1, CAST(750000 AS Decimal(18, 0)), 4)
GO
INSERT [dbo].[ChiTietDonHangNhap] ([MaDonHang], [MaSanPham], [TenSanPham], [Mau], [KichThuoc], [SoLuong], [DonGia], [MaMau]) VALUES (2, 10, NULL, N'Xanh', N'XL        ', 5, 100000, 23)
GO
INSERT [dbo].[DonGia] ([MaDonGia], [MaSanPham], [DonGia], [MoTa]) VALUES (1, 1, 3000000.0000, N'chua giam gia')
INSERT [dbo].[DonGia] ([MaDonGia], [MaSanPham], [DonGia], [MoTa]) VALUES (2, 1, 1900000.0000, N'da giam')
INSERT [dbo].[DonGia] ([MaDonGia], [MaSanPham], [DonGia], [MoTa]) VALUES (3, 2, 1000000.0000, N'chua giam')
GO
INSERT [dbo].[DonHang] ([MaDonHang], [MaKhachHang], [NgayTao], [DuyetDon], [NgayGui], [NgayNhan]) VALUES (4, 4, CAST(N'2023-12-20T22:25:04.127' AS DateTime), 1, CAST(N'2023-12-24T14:55:03.110' AS DateTime), CAST(N'2023-12-24T10:29:12.140' AS DateTime))
GO
INSERT [dbo].[DonHangNhap] ([MaDonHang], [MaNCC], [NgayTao]) VALUES (1, 1, CAST(N'2023-12-20T22:34:44.117' AS DateTime))
INSERT [dbo].[DonHangNhap] ([MaDonHang], [MaNCC], [NgayTao]) VALUES (2, 1, CAST(N'2023-12-25T08:42:23.103' AS DateTime))
GO
SET IDENTITY_INSERT [dbo].[HinhAnh] ON 

INSERT [dbo].[HinhAnh] ([MaHinhAnh], [MaMau], [HinhAnh]) VALUES (1, 1, N'https://firebasestorage.googleapis.com/v0/b/baitaplon-e42e3.appspot.com/o/btlAPI%2FgiayNike%2FgiayNike1.1.jpg?alt=media&token=423a1be6-f7ca-461e-980b-12ddc60d5a56')
INSERT [dbo].[HinhAnh] ([MaHinhAnh], [MaMau], [HinhAnh]) VALUES (2, 1, N'https://firebasestorage.googleapis.com/v0/b/baitaplon-e42e3.appspot.com/o/btlAPI%2FgiayNike%2FgiayNike1.2.jpg?alt=media&token=61448e3a-0376-4e8a-bdcb-f732022a45c0')
INSERT [dbo].[HinhAnh] ([MaHinhAnh], [MaMau], [HinhAnh]) VALUES (3, 1, N'https://firebasestorage.googleapis.com/v0/b/baitaplon-e42e3.appspot.com/o/btlAPI%2FgiayNike%2FgiayNike1.3.jpg?alt=media&token=6f08d203-d277-4335-89dd-4b525b02979f')
SET IDENTITY_INSERT [dbo].[HinhAnh] OFF
GO
INSERT [dbo].[KhachHang] ([MaKhachHang], [TenKhachHang], [username], [SoDienThoai], [DiaChi]) VALUES (4, N'Nguyễn Hoàng Nam', N'thanhthao22', N'0123456789', N'Hải Dương')
GO
SET IDENTITY_INSERT [dbo].[KichThuoc] ON 

INSERT [dbo].[KichThuoc] ([MaKT], [MaMau], [KichThuocsp], [SoLuong]) VALUES (1, 1, N'39                  ', 18)
INSERT [dbo].[KichThuoc] ([MaKT], [MaMau], [KichThuocsp], [SoLuong]) VALUES (2, 1, N'40                  ', 15)
INSERT [dbo].[KichThuoc] ([MaKT], [MaMau], [KichThuocsp], [SoLuong]) VALUES (3, 1, N'42                  ', 12)
GO
SET IDENTITY_INSERT [dbo].[KichThuoc] OFF
GO
INSERT [dbo].[LoaiSanPham] ([MaLoai], [TenLoai], [MoTa]) VALUES (0, N'0', N'0')
INSERT [dbo].[LoaiSanPham] ([MaLoai], [TenLoai], [MoTa]) VALUES (1, N'Giày bóng rổ', N'Our door and In door')
INSERT [dbo].[LoaiSanPham] ([MaLoai], [TenLoai], [MoTa]) VALUES (2, N'Quần áo bóng rổ', N'Quần áo basic cho cả nam và nữ')
GO
INSERT [dbo].[MauSac] ([MaMau], [MaSanPham], [Mau]) VALUES (1, 1, N'Fire and Ice2')
INSERT [dbo].[MauSac] ([MaMau], [MaSanPham], [Mau]) VALUES (2, 1, N'Infinity Bred')
INSERT [dbo].[MauSac] ([MaMau], [MaSanPham], [Mau]) VALUES (3, 2, N'Trắng đen')
GO
INSERT [dbo].[NhaCungCap] ([MaNCC], [TenNCC], [SoDienThoai], [DiaChi]) VALUES (1, N'Nhà cung cấp 1', N'0123456789', N'Kim Động-Hưng yên')
GO
INSERT [dbo].[SanPham] ([MaSanPham], [MaThuongHieu], [TenSanPham], [DonGia], [MoTa]) VALUES (0, 0, N'0', CAST(0 AS Decimal(18, 0)), N'0')
INSERT [dbo].[SanPham] ([MaSanPham], [MaThuongHieu], [TenSanPham], [DonGia], [MoTa]) VALUES (1, 1, N'Giày bóng rổ chính hãng Nike Kyrie 8 DC9134-001', CAST(1900000 AS Decimal(18, 0)), N'Sản phẩm chính hãng, nhập từ outlet chính hãng ( Cửa hàng thanh lý chính hãng )')
INSERT [dbo].[SanPham] ([MaSanPham], [MaThuongHieu], [TenSanPham], [DonGia], [MoTa]) VALUES (2, 2, N'Giày bóng rổ PEAK E11123A', CAST(750000 AS Decimal(18, 0)), N'Sản phẩm chính hãng, nhập từ outlet chính hãng ( Cửa hàng thanh lý chính hãng )')
GO
INSERT [dbo].[ThuongHieu] ([MaThuongHieu], [MaLoai], [TenThuongHieu]) VALUES (0, 0, N'0')
INSERT [dbo].[ThuongHieu] ([MaThuongHieu], [MaLoai], [TenThuongHieu]) VALUES (1, 1, N'Giày Nike')
INSERT [dbo].[ThuongHieu] ([MaThuongHieu], [MaLoai], [TenThuongHieu]) VALUES (2, 1, N'Giày Peak')
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__LoaiSanP__E29B1042291F8AFE]    Script Date: 12/25/2023 11:45:38 AM ******/
ALTER TABLE [dbo].[LoaiSanPham] ADD UNIQUE NONCLUSTERED 
(
	[TenLoai] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__ThuongHi__98D6A834B5C862B7]    Script Date: 12/25/2023 11:45:38 AM ******/
ALTER TABLE [dbo].[ThuongHieu] ADD UNIQUE NONCLUSTERED 
(
	[TenThuongHieu] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Account] ADD  CONSTRAINT [DF_Account_type]  DEFAULT ((0)) FOR [type]
GO
ALTER TABLE [dbo].[ChiTietDonHang] ADD  CONSTRAINT [DF_ChiTietDonHang_MaSanPham]  DEFAULT ((0)) FOR [MaSanPham]
GO
ALTER TABLE [dbo].[ChiTietDonHang] ADD  CONSTRAINT [DF_ChiTietDonHang_TenSanPham]  DEFAULT ('sp11') FOR [TenSanPham]
GO
ALTER TABLE [dbo].[ChiTietDonHangNhap] ADD  CONSTRAINT [DF_ChiTietDonHangNhap_MaSanPham]  DEFAULT ((0)) FOR [MaSanPham]
GO
ALTER TABLE [dbo].[DonGia] ADD  CONSTRAINT [DF__DonGia__DonGia__403A8C7D]  DEFAULT ((1000)) FOR [DonGia]
GO
ALTER TABLE [dbo].[DonHang] ADD  CONSTRAINT [DF__DonHang__NgayTao__4F7CD00D]  DEFAULT (getdate()) FOR [NgayTao]
GO
ALTER TABLE [dbo].[DonHang] ADD  CONSTRAINT [DF_DonHang_DuyetDon]  DEFAULT ((0)) FOR [DuyetDon]
GO
ALTER TABLE [dbo].[DonHangNhap] ADD  CONSTRAINT [DF__DonHangNh__NgayT__59FA5E80]  DEFAULT (getdate()) FOR [NgayTao]
GO
ALTER TABLE [dbo].[KichThuoc] ADD  CONSTRAINT [DF__KichThuoc__SoLuo__46E78A0C]  DEFAULT ((1)) FOR [SoLuong]
GO
ALTER TABLE [dbo].[SanPham] ADD  CONSTRAINT [DF_SanPham_DonGia]  DEFAULT ((100000)) FOR [DonGia]
GO
ALTER TABLE [dbo].[ChiTietDonHang]  WITH CHECK ADD  CONSTRAINT [FK__ChiTietDo__MaDon__5441852A] FOREIGN KEY([MaDonHang])
REFERENCES [dbo].[DonHang] ([MaDonHang])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[ChiTietDonHang] CHECK CONSTRAINT [FK__ChiTietDo__MaDon__5441852A]
GO
ALTER TABLE [dbo].[ChiTietDonHang]  WITH CHECK ADD  CONSTRAINT [FK__ChiTietDo__MaSan__5535A963] FOREIGN KEY([MaSanPham])
REFERENCES [dbo].[SanPham] ([MaSanPham])
ON DELETE SET DEFAULT
GO
ALTER TABLE [dbo].[ChiTietDonHang] CHECK CONSTRAINT [FK__ChiTietDo__MaSan__5535A963]
GO
ALTER TABLE [dbo].[ChiTietDonHangNhap]  WITH CHECK ADD  CONSTRAINT [FK__ChiTietDo__MaDon__5EBF139D] FOREIGN KEY([MaDonHang])
REFERENCES [dbo].[DonHangNhap] ([MaDonHang])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[ChiTietDonHangNhap] CHECK CONSTRAINT [FK__ChiTietDo__MaDon__5EBF139D]
GO
ALTER TABLE [dbo].[ChiTietDonHangNhap]  WITH CHECK ADD  CONSTRAINT [FK__ChiTietDo__MaSan__5FB337D6] FOREIGN KEY([MaSanPham])
REFERENCES [dbo].[SanPham] ([MaSanPham])
ON DELETE SET DEFAULT
GO
ALTER TABLE [dbo].[ChiTietDonHangNhap] CHECK CONSTRAINT [FK__ChiTietDo__MaSan__5FB337D6]
GO
ALTER TABLE [dbo].[DonGia]  WITH CHECK ADD  CONSTRAINT [FK__DonGia__MaSanPha__412EB0B6] FOREIGN KEY([MaSanPham])
REFERENCES [dbo].[SanPham] ([MaSanPham])
GO
ALTER TABLE [dbo].[DonGia] CHECK CONSTRAINT [FK__DonGia__MaSanPha__412EB0B6]
GO
ALTER TABLE [dbo].[DonHang]  WITH CHECK ADD  CONSTRAINT [FK__DonHang__MaKhach__5070F446] FOREIGN KEY([MaKhachHang])
REFERENCES [dbo].[KhachHang] ([MaKhachHang])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[DonHang] CHECK CONSTRAINT [FK__DonHang__MaKhach__5070F446]
GO
ALTER TABLE [dbo].[DonHangNhap]  WITH CHECK ADD  CONSTRAINT [FK__DonHangNh__MaNCC__5AEE82B9] FOREIGN KEY([MaNCC])
REFERENCES [dbo].[NhaCungCap] ([MaNCC])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[DonHangNhap] CHECK CONSTRAINT [FK__DonHangNh__MaNCC__5AEE82B9]
GO
ALTER TABLE [dbo].[HinhAnh]  WITH CHECK ADD  CONSTRAINT [FK__HinhAnh__MaMau__4AB81AF0] FOREIGN KEY([MaMau])
REFERENCES [dbo].[MauSac] ([MaMau])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[HinhAnh] CHECK CONSTRAINT [FK__HinhAnh__MaMau__4AB81AF0]
GO
ALTER TABLE [dbo].[KhachHang]  WITH CHECK ADD  CONSTRAINT [FK_KhachHang_Account] FOREIGN KEY([username])
REFERENCES [dbo].[Account] ([username])
GO
ALTER TABLE [dbo].[KhachHang] CHECK CONSTRAINT [FK_KhachHang_Account]
GO
ALTER TABLE [dbo].[KichThuoc]  WITH CHECK ADD  CONSTRAINT [FK__KichThuoc__MaMau__47DBAE45] FOREIGN KEY([MaMau])
REFERENCES [dbo].[MauSac] ([MaMau])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[KichThuoc] CHECK CONSTRAINT [FK__KichThuoc__MaMau__47DBAE45]
GO
ALTER TABLE [dbo].[MauSac]  WITH CHECK ADD  CONSTRAINT [FK_MauSac_SanPham] FOREIGN KEY([MaSanPham])
REFERENCES [dbo].[SanPham] ([MaSanPham])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[MauSac] CHECK CONSTRAINT [FK_MauSac_SanPham]
GO
ALTER TABLE [dbo].[SanPham]  WITH CHECK ADD  CONSTRAINT [FK__SanPham__MaThuon__3D5E1FD2] FOREIGN KEY([MaThuongHieu])
REFERENCES [dbo].[ThuongHieu] ([MaThuongHieu])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[SanPham] CHECK CONSTRAINT [FK__SanPham__MaThuon__3D5E1FD2]
GO
ALTER TABLE [dbo].[ThuongHieu]  WITH CHECK ADD  CONSTRAINT [FK__ThuongHie__MaLoa__3A81B327] FOREIGN KEY([MaLoai])
REFERENCES [dbo].[LoaiSanPham] ([MaLoai])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[ThuongHieu] CHECK CONSTRAINT [FK__ThuongHie__MaLoa__3A81B327]
GO
ALTER TABLE [dbo].[ChiTietDonHang]  WITH CHECK ADD  CONSTRAINT [CK__ChiTietDo__SoLuo__534D60F1] CHECK  (([SoLuong]>=(0)))
GO
ALTER TABLE [dbo].[ChiTietDonHang] CHECK CONSTRAINT [CK__ChiTietDo__SoLuo__534D60F1]
GO
ALTER TABLE [dbo].[ChiTietDonHangNhap]  WITH CHECK ADD  CONSTRAINT [CK__ChiTietDo__SoLuo__5DCAEF64] CHECK  (([SoLuong]>=(0)))
GO
ALTER TABLE [dbo].[ChiTietDonHangNhap] CHECK CONSTRAINT [CK__ChiTietDo__SoLuo__5DCAEF64]
GO
/****** Object:  StoredProcedure [dbo].[ban_create_hoadon]    Script Date: 12/25/2023 11:45:38 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE proc [dbo].[ban_create_hoadon]
(@TenKH nvarchar(50),
@user nvarchar(50),
@SoDienThoai nchar(10),
@DiaChi nvarchar(100),
@list_json_chitiethoadon NVARCHAR(MAX))
as
begin
	declare @nextMaKH int;
	select @nextMaKH= isnull(MaKhachHang,0)+1 from KhachHang

	insert into KhachHang(MaKhachHang,TenKhachHang,SoDienThoai,username,DiaChi)values(@nextMaKH,@TenKH,@SoDienThoai,@user,@DiaChi)

	declare @nextMaHD int;
	select @nextMaHD =isnull(MaDonHang,0)+1 from DonHang
	insert into DonHang (MaDonHang,MaKhachHang)values(@nextMaHD,@nextMaKH)
	
		IF(@list_json_chitiethoadon IS NOT NULL)
                    BEGIN
                        INSERT INTO ChiTietDonHang
						 (MaDonHang,
						 MaSanPham, 
						  TenSanPham,MauSac,KichThuoc,
                          SoLuong, 
                          DonGia,MaMau               
                        )
                    SELECT @nextMaHD, 
							JSON_VALUE(p.value, '$.MaSanPham'),
							JSON_VALUE(p.value, '$.TenSanPham'),
							JSON_VALUE(p.value, '$.MauSac'),
							JSON_VALUE(p.value, '$.KichThuoc'),
                            JSON_VALUE(p.value, '$.SoLuong'), 
                            JSON_VALUE(p.value, '$.DonGia'),
							JSON_VALUE(p.value, '$.MaMau')    
                    FROM OPENJSON(@list_json_chitiethoadon) AS p ;
                END;
	UPDATE KichThuoc
	SET SoLuong = KichThuoc.SoLuong - ChiTietDonHangNhap.SoLuong
	FROM KichThuoc
	INNER JOIN ChiTietDonHangNhap ON KichThuoc.MaMau = ChiTietDonHangNhap.MaMau and KichThuoc.KichThuocsp=ChiTietDonHangNhap.KichThuoc
	WHERE ChiTietDonHangNhap.MaDonHang = @nextMaHD;

	exec dh_get_buID @nextMaHD

end
GO
/****** Object:  StoredProcedure [dbo].[CreateAccount]    Script Date: 12/25/2023 11:45:38 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[CreateAccount]
    @Username NVARCHAR(50),
    @Password NVARCHAR(50),
    @ResultMessage NVARCHAR(100)
AS
BEGIN
    SET NOCOUNT ON;

    DECLARE @UsernameExists BIT;

    -- Kiểm tra xem tên người dùng đã tồn tại chưa
    SELECT @UsernameExists = CASE WHEN COUNT(*) > 0 THEN 1 ELSE 0 END
    FROM Account
    WHERE Username = @Username;

    -- Nếu tên người dùng đã tồn tại, trả về thông báo
    IF @UsernameExists = 1
    BEGIN
        SET @ResultMessage = N'Tài khoản đã tồn tại.';
    END
    ELSE
    BEGIN
        -- Nếu tên người dùng chưa tồn tại, thực hiện thêm mới
        INSERT INTO Account(Username, Password,type)
        VALUES (@Username, @Password,0);

        SET @ResultMessage = N'Tạo tài khoản thành công.';
    END
	select *,@ResultMessage from Account where username=@Username
END
GO
/****** Object:  StoredProcedure [dbo].[dh_get_all]    Script Date: 12/25/2023 11:45:38 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[dh_get_all] (@user nvarchar(50))
as
begin
	select dh.MaDonHang,kh.TenKhachHang,kh.SoDienThoai,kh.DiaChi,dh.NgayTao,dh.DuyetDon, dh.NgayGui,dh.NgayNhan, sum(ct.SoLuong
	*ct.DonGia) as TongHoaDon,(select * from ChiTietDonHang where MaDonHang=dh.MaDonHang for json path) as ct  from KhachHang kh join DonHang dh on dh.MaKhachHang=kh.MaKhachHang
								join ChiTietDonHang ct on ct.MaDonHang=dh.MaDonHang
								where kh.username=@user
								group by dh.MaDonHang,kh.MaKhachHang,kh.TenKhachHang,kh.SoDienThoai,kh.DiaChi,dh.NgayTao,dh.DuyetDon, dh.NgayGui,dh.NgayNhan
end
GO
/****** Object:  StoredProcedure [dbo].[dh_get_buID]    Script Date: 12/25/2023 11:45:38 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[dh_get_buID] (@id int)
as
begin
	select dh.MaDonHang,kh.TenKhachHang,kh.SoDienThoai,kh.DiaChi,dh.NgayTao,dh.DuyetDon, dh.NgayGui,dh.NgayNhan, sum(ct.SoLuong
	*ct.DonGia) as TongHoaDon,(select * from ChiTietDonHang where MaDonHang=dh.MaDonHang for json path) as ct  from KhachHang kh join DonHang dh on dh.MaKhachHang=kh.MaKhachHang
								join ChiTietDonHang ct on ct.MaDonHang=dh.MaDonHang
								where dh.MaDonHang=@id
								group by dh.MaDonHang,kh.MaKhachHang,kh.TenKhachHang,kh.SoDienThoai,kh.DiaChi,dh.NgayTao,dh.DuyetDon, dh.NgayGui,dh.NgayNhan
end
GO
/****** Object:  StoredProcedure [dbo].[dh_XacNhan_DaNhan_hang]    Script Date: 12/25/2023 11:45:38 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE proc [dbo].[dh_XacNhan_DaNhan_hang] (@id int)
as
begin
	SET NOCOUNT ON;
	IF EXISTS (SELECT 1 FROM DonHang WHERE MaDonHang = @id AND DuyetDon = 1 and NgayNhan is  null)
    BEGIN
		update DonHang set NgayNhan=getdate() where MaDonHang=@id and DuyetDon=1 and NgayGui is not null;
		end
	select MaDonHang,NgayTao,DuyetDon,NgayGui,NgayNhan from DonHang where MaDonHang = @id AND DuyetDon = 1
end
GO
/****** Object:  StoredProcedure [dbo].[DuyetDonHang]    Script Date: 12/25/2023 11:45:38 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE proc [dbo].[DuyetDonHang] (@id int)
as
begin
	declare @kq nvarchar(50);
	if EXISTS (select 1 from DonHang where MaDonHang=@id and DuyetDon =0)
	begin
		update DonHang set DuyetDon=1 where MaDonHang=@id and DuyetDon =0
		set @kq= N'Duyệt đơn hàng thành công'
	end
	else
	begin
		set @kq=N'Đơn hàng đã được duyệt trước đó'
	end

	select @kq from DonHang where MaDonHang=@id and DuyetDon=1
end
GO
/****** Object:  StoredProcedure [dbo].[GetPagedProducts]    Script Date: 12/25/2023 11:45:38 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[GetPagedProducts]
    @MaLoai INT null,
    @MaThuongHieu INT null,
    @PageNumber INT,
    @PageSize INT
AS
BEGIN
    SET NOCOUNT ON;

    WITH PagedProducts AS
    (
        SELECT
            ROW_NUMBER() OVER (ORDER BY SanPham.MaSanPham) AS RowNum,
            SanPham.MaSanPham,
            SanPham.MaThuongHieu,
            SanPham.DonGia,
            SanPham.TenSanPham,
            MAX(ha.HinhAnh) AS HinhAnhDaiien
        FROM
            HinhAnh ha
            JOIN MauSac ms ON ms.MaMau = ha.MaMau
            JOIN SanPham ON SanPham.MaSanPham = ms.MaSanPham
            JOIN ThuongHieu ON ThuongHieu.MaThuongHieu = SanPham.MaThuongHieu
            JOIN LoaiSanPham ON LoaiSanPham.MaLoai = ThuongHieu.MaLoai
        WHERE
            (@MaThuongHieu =0 and LoaiSanPham.MaLoai = @MaLoai)
            OR (ThuongHieu.MaThuongHieu = @MaThuongHieu)
        GROUP BY
            SanPham.MaSanPham,
            SanPham.MaThuongHieu,
            SanPham.DonGia,
            SanPham.TenSanPham
    )
    
    SELECT
        MaSanPham,
        MaThuongHieu,
        DonGia,
        TenSanPham,
        HinhAnhDaiien
        -- Các cột khác cần lấy thông tin
    FROM
        PagedProducts
    WHERE
        RowNum BETWEEN (@PageNumber - 1) * @PageSize + 1 AND @PageNumber * @PageSize;
END
GO
/****** Object:  StoredProcedure [dbo].[lsp_get_loaisanpham]    Script Date: 12/25/2023 11:45:38 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE proc [dbo].[lsp_get_loaisanpham]
as
begin
	select MaLoai as id, TenLoai as name, MoTa as description from LoaiSanPham where MaLoai!=0
end
GO
/****** Object:  StoredProcedure [dbo].[lsp_get_thuonghieu]    Script Date: 12/25/2023 11:45:38 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE proc [dbo].[lsp_get_thuonghieu]
as
begin
	select MaThuongHieu as id, MaLoai as id_loai, TenThuongHieu as name from ThuongHieu where MaThuongHieu!=0
end
GO
/****** Object:  StoredProcedure [dbo].[lsp_loaisanpham_delete]    Script Date: 12/25/2023 11:45:38 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE proc [dbo].[lsp_loaisanpham_delete] @id int
as
begin
	delete LoaiSanPham where MaLoai=@id and MaLoai!=0
end
GO
/****** Object:  StoredProcedure [dbo].[lsp_loaisanpham_get_by_id]    Script Date: 12/25/2023 11:45:38 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE proc [dbo].[lsp_loaisanpham_get_by_id] (@id int)
as
begin
	select MaLoai as id, TenLoai as name, MoTa as description from LoaiSanPham where MaLoai=@id and MaLoai!=0
end
GO
/****** Object:  StoredProcedure [dbo].[lsp_loaisanpham_get_by_name]    Script Date: 12/25/2023 11:45:38 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE proc [dbo].[lsp_loaisanpham_get_by_name] (@name nvarchar)
as
begin
	 
	select MaLoai as id, TenLoai as name, MoTa as description from LoaiSanPham where Lower(TenLoai) like N'%' + @name + '%' and MaLoai!=0
end
GO
/****** Object:  StoredProcedure [dbo].[lsp_thuonghieu_delete]    Script Date: 12/25/2023 11:45:38 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE proc [dbo].[lsp_thuonghieu_delete] @id int
as
begin
	delete ThuongHieu where MaThuongHieu=@id and MaThuongHieu!=0
end
GO
/****** Object:  StoredProcedure [dbo].[lsp_thuonghieu_get_by_id]    Script Date: 12/25/2023 11:45:38 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE proc [dbo].[lsp_thuonghieu_get_by_id] (@id int)
as
begin
	select MaThuongHieu as id, MaLoai as id_loai, TenThuongHieu as name from ThuongHieu where MaThuongHieu=@id and MaThuongHieu!=0
end
GO
/****** Object:  StoredProcedure [dbo].[nhap_createHDN]    Script Date: 12/25/2023 11:45:38 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE proc [dbo].[nhap_createHDN]

(@MaNCC int,@TenNCC nvarchar(50),
@SoDienThoai nchar(10),
@DiaChi nvarchar(100),
@list_json_chitiethoadon NVARCHAR(MAX))
as
begin

		
		DECLARE @Madhn INT;
		select @Madhn= isnull(max(MaDonHang),0)+ 1 from DonHangNhap;
		insert into DonHangNhap(MaDonHang,MaNCC) values(@Madhn,@Mancc);
	
		IF(@list_json_chitiethoadon IS NOT NULL)
                    BEGIN
                        INSERT INTO ChiTietDonHangNhap
						 (MaDonHang,
						 MaSanPham, 
						  TenSanPham,Mau,KichThuoc,
                          SoLuong, 
                          DonGia,MaMau               
                        )
                    SELECT @Madhn, 
							JSON_VALUE(p.value, '$.MaSanPham'),
							JSON_VALUE(p.value, '$.TenSanPham'),
							JSON_VALUE(p.value, '$.Mau'),
							JSON_VALUE(p.value, '$.KichThuoc'),
                            JSON_VALUE(p.value, '$.SoLuong'), 
                            JSON_VALUE(p.value, '$.DonGia'),
							JSON_VALUE(p.value, '$.MaMau')    
                    FROM OPENJSON(@list_json_chitiethoadon) AS p ;
                END;
	UPDATE KichThuoc
	SET SoLuong = KichThuoc.SoLuong + ChiTietDonHangNhap.SoLuong
	FROM KichThuoc
	INNER JOIN ChiTietDonHangNhap ON KichThuoc.MaMau = ChiTietDonHangNhap.MaMau and KichThuoc.KichThuocsp=ChiTietDonHangNhap.KichThuoc
	WHERE ChiTietDonHangNhap.MaDonHang = @Madhn;

	exec [nhap_getCT_byID] @Madhn

end
GO
/****** Object:  StoredProcedure [dbo].[nhap_getall]    Script Date: 12/25/2023 11:45:38 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE proc [dbo].[nhap_getall]
as
begin
	select dh.MaDonHang,ncc.MaNCC,ncc.TenNCC,dh.NgayTao,ncc.SoDienThoai,ncc.DiaChi, sum(ct.SoLuong*ct.DonGia) as TongHD 
	from NhaCungCap ncc inner join DonHangNhap dh on ncc.MaNCC=dh.MaNCC 
	join ChiTietDonHangNhap ct on dh.MaDonHang=ct.MaDonHang
	group by dh.MaDonHang,ncc.MaNCC,ncc.TenNCC,ncc.SoDienThoai,ncc.DiaChi,dh.NgayTao
end
GO
/****** Object:  StoredProcedure [dbo].[nhap_getCT_byID]    Script Date: 12/25/2023 11:45:38 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE proc [dbo].[nhap_getCT_byID] @id int
as
begin
	select dh.MaDonHang,ncc.MaNCC, ncc.TenNCC,dh.NgayTao, ncc.SoDienThoai,ncc.DiaChi, ISNULL(SUM(ct.DonGia * ct.SoLuong), 0) AS TongHD,
	(select * from ChiTietDonHangNhap where MaDonHang=@id for json path) as cthd_json
	from NhaCungCap ncc   join DonHangNhap dh on dh.MaNCC=ncc.MaNCC left join ChiTietDonHangNhap ct on ct.MaDonHang=dh.MaDonHang 
	where dh.MaDonHang=@id
	group by dh.MaDonHang,ncc.MaNCC, ncc.TenNCC,dh.NgayTao, ncc.SoDienThoai,ncc.DiaChi
end
GO
/****** Object:  StoredProcedure [dbo].[nhap_sp_hoa_don_update]    Script Date: 12/25/2023 11:45:38 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[nhap_sp_hoa_don_update]
(@MaDonHang int,
@list_json_chitiethoadon NVARCHAR(MAX))
AS
    BEGIN
		
		
		IF(@list_json_chitiethoadon IS NOT NULL) 
		BEGIN
			 -- Insert data to temp table 
		   SELECT
			  JSON_VALUE(p.value, '$.MaDonHang') as maHoaDon,
			  JSON_VALUE(p.value, '$.MaSanPham') as maSanPham,
			  JSON_VALUE (p.value,'$.Mau')as mau,
			  JSON_VALUE (p.value,'$.KichThuoc')as kichthuoc,
			  JSON_VALUE(p.value, '$.SoLuong') as soLuong,
			  JSON_VALUE(p.value, '$.DonGia') as tongGia,
			  JSON_VALUE(p.value,'$.MaMau') as MaMau,
			  JSON_VALUE(p.value, '$.status') AS status 
			  INTO #Results 
		   FROM OPENJSON(@list_json_chitiethoadon) AS p;
		 
		 -- Insert data to table with STATUS = 1;
			INSERT INTO ChiTietDonHangNhap(MaDonHang, 
						  MaSanPham,
                          Mau,KichThuoc, SoLuong,DonGia,MaMau 
                          ) 
			   SELECT
				@MaDonHang,
				  #Results.maSanPham,
				  #Results.mau,
				  #Results.kichthuoc,
				  #Results.soLuong,
				  #Results.tongGia,
				  #Results.MaMau
			   FROM  #Results 
			   WHERE #Results.status = '1' 
			UPDATE KichThuoc
			SET SoLuong = KichThuoc.SoLuong + #Results.soLuong
			FROM KichThuoc
			INNER JOIN #Results ON KichThuoc.MaMau = #Results.MaMau and KichThuoc.KichThuocsp=#Results.KichThuoc
			WHERE #Results.status='1' ;
			declare @bienthien int;
			declare @json_bienthien nvarchar(max);
			SELECT  (ChiTietDonHangNhap.SoLuong - #Results.soLuong) AS bienthien,
					#Results.kichthuoc,
					#Results.MaMau
			INTO #bienthienSL
			FROM ChiTietDonHangNhap join #Results on ChiTietDonHangNhap.MaDonHang = #Results.maHoaDon and ChiTietDonHangNhap.MaSanPham=#Results.maSanPham
			WHERE  ChiTietDonHangNhap.MaSanPham = #Results.maSanPham 
				AND #Results.status = '2';

			-- Update data to table with STATUS = 2
			  UPDATE ChiTietDonHangNhap 
			  SET
				@bienthien=ChiTietDonHangNhap.SoLuong-#Results.soLuong,
				 SoLuong = #Results.soLuong,
				 DonGia = #Results.tongGia
			  FROM #Results 
			  WHERE  ChiTietDonHangNhap.MaDonHang = #Results.maHoaDon and ChiTietDonHangNhap.MaSanPham=#Results.maSanPham AND #Results.status = '2';
			UPDATE KichThuoc
			SET SoLuong = KichThuoc.SoLuong - #bienthienSL.bienthien
			FROM KichThuoc
			INNER JOIN #bienthienSL ON KichThuoc.MaMau = #bienthienSL.MaMau and KichThuoc.KichThuocsp=#bienthienSL.KichThuoc
			;
			-- Delete data to table with STATUS = 3
			DELETE C
			FROM ChiTietDonHangNhap C
			INNER JOIN #Results R
				ON C.MaDonHang=R.maHoaDon and C.MaSanPham=R.maSanPham
			WHERE R.status = '3';
			UPDATE KichThuoc
			SET SoLuong = KichThuoc.SoLuong - #Results.soLuong
			FROM KichThuoc
			INNER JOIN #Results ON KichThuoc.MaMau = #Results.MaMau and KichThuoc.KichThuocsp=#Results.KichThuoc
			WHERE #Results.status='3' ;
			DROP TABLE #Results;
		END;
        SELECT '';
    END;
GO
/****** Object:  StoredProcedure [dbo].[nhap_xoaDHN]    Script Date: 12/25/2023 11:45:38 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE proc [dbo].[nhap_xoaDHN] @id int
as
begin
	UPDATE KichThuoc
	SET SoLuong = KichThuoc.SoLuong + ChiTietDonHang.SoLuong
	FROM KichThuoc
	INNER JOIN ChiTietDonHang ON KichThuoc.MaMau = ChiTietDonHang.MaMau and KichThuoc.KichThuocsp=ChiTietDonHang.KichThuoc
	WHERE ChiTietDonHang.MaDonHang = @id;
	delete DonHangNhap where MaDonHang=@id

	exec nhap_getCT_byID @id 
end
GO
/****** Object:  StoredProcedure [dbo].[nnhap_getdon_byid]    Script Date: 12/25/2023 11:45:38 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[nnhap_getdon_byid] @id int
	as
	begin
	select dh.MaDonHang,ncc.MaNCC,ncc.TenNCC,ncc.SoDienThoai,ncc.DiaChi, sum(ct.SoLuong*ct.DonGia) as TongHD 
	from NhaCungCap ncc inner join DonHangNhap dh on ncc.MaNCC=dh.MaNCC 
	join ChiTietDonHangNhap ct on dh.MaDonHang=ct.MaDonHang
	where dh.MaDonHang=@id
	group by dh.MaDonHang,ncc.MaNCC,ncc.TenNCC,ncc.SoDienThoai,ncc.DiaChi
	end
GO
/****** Object:  StoredProcedure [dbo].[nnhap_getdon_bytime]    Script Date: 12/25/2023 11:45:38 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[nnhap_getdon_bytime] @ngayMin date, @ngayMax date
	as
	begin
	select dh.MaDonHang,ncc.MaNCC,ncc.TenNCC,ncc.SoDienThoai,ncc.DiaChi, sum(ct.SoLuong*ct.DonGia) as TongHD 
	from NhaCungCap ncc inner join DonHangNhap dh on ncc.MaNCC=dh.MaNCC 
	join ChiTietDonHangNhap ct on dh.MaDonHang=ct.MaDonHang
	where dh.NgayTao between @ngayMin and @ngayMax
	group by dh.MaDonHang,ncc.MaNCC,ncc.TenNCC,ncc.SoDienThoai,ncc.DiaChi
	end
GO
/****** Object:  StoredProcedure [dbo].[show_dssp_ton]    Script Date: 12/25/2023 11:45:38 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[show_dssp_ton]
as
begin
	select sp.MaSanPham,sp.TenSanPham,sp.MaThuongHieu,sp.MoTa,sum(kt.SoLuong) as SoLuongTon
		from SanPham sp join MauSac ms on ms.MaSanPham=sp.MaSanPham 
		join KichThuoc kt on kt.MaMau=ms.MaMau 
		group by sp.MaSanPham,sp.TenSanPham,sp.MaThuongHieu,sp.MoTa
		order by sum(kt.SoLuong) desc
end
GO
/****** Object:  StoredProcedure [dbo].[showCTdonHang]    Script Date: 12/25/2023 11:45:38 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE proc [dbo].[showCTdonHang] (@id int)
as
begin
	select dh.MaDonHang,dh.MaKhachHang,kh.TenKhachHang,dh.NgayTao as NgayDat,dh.DuyetDon as TrangThaiDonHang,sum(ct.SoLuong*ct.DonGia) as TongHD,(select ct.* from ChiTietDonHang ct where ct.MaDonHang=@id FOR JSON PATH) as DSSP from KhachHang kh join DonHang dh on dh.MaKhachHang=kh.MaKhachHang
								join ChiTietDonHang ct on ct.MaDonHang=dh.MaDonHang
								where dh.MaDonHang=@id
								group by dh.MaDonHang,dh.MaKhachHang,kh.TenKhachHang,dh.NgayTao ,dh.DuyetDon 
end
GO
/****** Object:  StoredProcedure [dbo].[showDonHangChuaXacNhan]    Script Date: 12/25/2023 11:45:38 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE proc [dbo].[showDonHangChuaXacNhan]
as
begin
	select dh.MaDonHang,dh.MaKhachHang,kh.TenKhachHang,dh.NgayTao as NgayDat,dh.DuyetDon as TrangThaiDonHang,dh.NgayGui,dh.NgayNhan,sum(ct.SoLuong*ct.DonGia) as TongHD
	from KhachHang kh join DonHang dh on dh.MaKhachHang=kh.MaKhachHang join ChiTietDonHang ct on ct.MaDonHang=dh.MaDonHang 
	where dh.DuyetDon=0
	group by dh.MaDonHang,dh.MaKhachHang,dh.NgayTao,dh.DuyetDon,kh.TenKhachHang,dh.NgayGui,dh.NgayNhan
end
GO
/****** Object:  StoredProcedure [dbo].[showDonHangDaXacNhan]    Script Date: 12/25/2023 11:45:38 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE proc [dbo].[showDonHangDaXacNhan]
as
begin
	select dh.MaDonHang,dh.MaKhachHang,kh.TenKhachHang,dh.NgayTao as NgayDat,dh.DuyetDon as TrangThaiDonHang,dh.NgayGui,dh.NgayNhan,sum(ct.SoLuong*ct.DonGia) as TongHD
	from KhachHang kh join DonHang dh on dh.MaKhachHang=kh.MaKhachHang join ChiTietDonHang ct on ct.MaDonHang=dh.MaDonHang 
	where dh.DuyetDon=1
	group by dh.MaDonHang,dh.MaKhachHang,dh.NgayTao,dh.DuyetDon,kh.TenKhachHang,dh.NgayGui,dh.NgayNhan
end
GO
/****** Object:  StoredProcedure [dbo].[sp_get_sanpham]    Script Date: 12/25/2023 11:45:38 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE proc [dbo].[sp_get_sanpham]
as
begin
	select SP.MaSanPham,
        SP.MaThuongHieu,SP.DonGia,
        SP.TenSanPham, MAX(HA.HinhAnh) AS HinhAnhDaiien
		from SanPham SP join MauSac MS 
		on MS.MaSanPham=SP.MaSanPham
			join HinhAnh HA on HA.MaMau=MS.MaMau
				group by SP.MaSanPham,SP.MaThuongHieu,SP.TenSanPham,SP.DonGia
end
GO
/****** Object:  StoredProcedure [dbo].[sp_login]    Script Date: 12/25/2023 11:45:38 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create PROCEDURE [dbo].[sp_login](@taikhoan nvarchar(50), @matkhau nvarchar(50))
AS
    BEGIN
      SELECT  *
      FROM Account
      where username= @taikhoan and password = @matkhau;
    END;
GO
/****** Object:  StoredProcedure [dbo].[sp_NhaCungCap_Delete]    Script Date: 12/25/2023 11:45:38 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_NhaCungCap_Delete]
(
    @MaNCC INT
)
AS
BEGIN
    DELETE FROM NhaCungCap
    WHERE MaNCC = @MaNCC;
END;
GO
/****** Object:  StoredProcedure [dbo].[sp_NhaCungCap_GetAll]    Script Date: 12/25/2023 11:45:38 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_NhaCungCap_GetAll]
AS
BEGIN
    SELECT *
    FROM NhaCungCap;
END;
GO
/****** Object:  StoredProcedure [dbo].[sp_NhaCungCap_GetById]    Script Date: 12/25/2023 11:45:38 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_NhaCungCap_GetById]
(
    @MaNCC INT
)
AS
BEGIN
    SELECT *
    FROM NhaCungCap
    WHERE MaNCC = @MaNCC;
END;
GO
/****** Object:  StoredProcedure [dbo].[sp_NhaCungCap_Insert]    Script Date: 12/25/2023 11:45:38 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_NhaCungCap_Insert]
(
    @TenNCC NVARCHAR(100),
    @SoDienThoai CHAR(10),
    @DiaChi NVARCHAR(MAX)
)
AS
BEGIN
    INSERT INTO NhaCungCap (TenNCC, SoDienThoai, DiaChi)
    VALUES (@TenNCC, @SoDienThoai, @DiaChi);
END;
GO
/****** Object:  StoredProcedure [dbo].[sp_NhaCungCap_Update]    Script Date: 12/25/2023 11:45:38 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_NhaCungCap_Update]
(
    @MaNCC INT,
    @TenNCC NVARCHAR(100),
    @SoDienThoai CHAR(10),
    @DiaChi NVARCHAR(MAX)
)
AS
BEGIN
    UPDATE NhaCungCap
    SET TenNCC = @TenNCC, SoDienThoai = @SoDienThoai, DiaChi = @DiaChi
    WHERE MaNCC = @MaNCC;
END;
GO
/****** Object:  StoredProcedure [dbo].[sp_sanpham_create]    Script Date: 12/25/2023 11:45:38 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_sanpham_create]
(
    @MaThuongHieu INT,
    @TenSanPham NVARCHAR(250),
    @MoTa NVARCHAR(250),
    @HinhDaiDien NVARCHAR(250),
    @Mau NVARCHAR(MAX),
    @giaBan DECIMAL(18, 0)
)
AS
BEGIN
    BEGIN TRY
        BEGIN TRANSACTION;

        DECLARE @NextMaSanPham INT;
        SELECT @NextMaSanPham = ISNULL(MAX(MaSanPham), 0) + 1 FROM SanPham;

        INSERT INTO SanPham
        (
            MaSanPham,
            MaThuongHieu,
            TenSanPham,
            MoTa,
            DonGia
        )
        VALUES
        (
            @NextMaSanPham,
            @MaThuongHieu,
            @TenSanPham,
            @MoTa,
            @giaBan
        );

        IF (@Mau IS NOT NULL)
        BEGIN
           DECLARE @JsonData NVARCHAR(MAX) = @Mau;

		DECLARE @NextMaMau INT;
		SELECT @NextMaMau = ISNULL(MAX(MaMau), 0) + 1 FROM MauSac;

		DECLARE @List NVARCHAR(MAX);
		SELECT @List = JSON_QUERY(@JsonData);

		IF (@List IS NOT NULL)
		BEGIN
		IF CURSOR_STATUS('global', 'Cursor_List') >= 0
BEGIN
    CLOSE Cursor_List;
    DEALLOCATE Cursor_List;
END;
			DECLARE Cursor_List CURSOR FOR
			SELECT [value] FROM OPENJSON(@List);

		OPEN Cursor_List;

		DECLARE @Id INT, @IdSP INT,@MauSac nvarchar(max), @ArrList1 NVARCHAR(MAX), @ArrList2 NVARCHAR(MAX);

		FETCH NEXT FROM Cursor_List INTO @List;

		WHILE @@FETCH_STATUS = 0
		BEGIN
        -- Extract values from the current JSON object
        SELECT
            
			@MauSac = JSON_VALUE(@List, '$.mausac'),
			@ArrList1=JSON_QUERY(@List, '$.list'),
			@ArrList2 = JSON_QUERY(@List, '$.hinhAnhModels');
        -- Insert into the MauSac table
				INSERT INTO MauSac (MaMau, MaSanPham, Mau)
				VALUES (@NextMaMau, @NextMaSanPham,@MauSac);

        -- Increment @NextMaMau for the next row
				print(@NextMaMau);
				INSERT INTO KichThuoc
                (
                    MaMau,
                    KichThuocsp,
                    SoLuong
                )
                SELECT
                    @NextMaMau,
                    JSON_VALUE(l.value, '$.kichthuoc'),
                    JSON_VALUE(l.value, '$.soluong')
                FROM OPENJSON(@ArrList1) AS l;

				 INSERT INTO HinhAnh
                (
                    MaMau,
                    HinhAnh
                )
                SELECT
                    @NextMaMau,
                    JSON_VALUE(h.value, '$.hinhanh_url')
                FROM OPENJSON(@ArrList2) AS h;
		
					SET @NextMaMau = @NextMaMau + 1;
					FETCH NEXT FROM Cursor_List INTO @List;
				END;

				CLOSE Cursor_List;
				DEALLOCATE Cursor_List;
			END;

        END;

        COMMIT;
    END TRY
    BEGIN CATCH
        
        -- Handle or log the error appropriately.
        PRINT 'Error occurred: ' + ERROR_MESSAGE();
		ROLLBACK;
    END CATCH;
END;
GO
/****** Object:  StoredProcedure [dbo].[sp_sanpham_create2]    Script Date: 12/25/2023 11:45:38 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_sanpham_create2]
(
    @MaSanPham      INT,
    @MaThuongHieu   INT,
    @TenSanPham     NVARCHAR(250),
    @MoTa           NVARCHAR(250),
    @HinhDaiDien    NVARCHAR(250),
    @Mau            NVARCHAR(MAX),
    @giaBan         DECIMAL(18, 0)
)
AS
BEGIN
    BEGIN TRY
        BEGIN TRANSACTION;

        INSERT INTO SanPham
        (
            MaSanPham,
            MaThuongHieu,
            TenSanPham,
            MoTa,
            DonGia
        )
        VALUES
        (
            @MaSanPham,
            @MaThuongHieu,
            @TenSanPham,
            @MoTa,
            @giaBan
        );

        IF (@Mau IS NOT NULL)
        BEGIN
            INSERT INTO MauSac
            (
                MaMau,
                MaSanPham,
                Mau
            )
            SELECT
                JSON_VALUE(m.value, '$.id'),
                @MaSanPham,
                JSON_VALUE(m.value, '$.mausac')
            FROM OPENJSON(@Mau) AS m;

            DECLARE @List NVARCHAR(MAX);
            SELECT @List = JSON_QUERY(m.value, '$.list') FROM OPENJSON(@Mau) AS m;

            IF (@List IS NOT NULL)
            BEGIN
                INSERT INTO KichThuoc
                (
                    MaKT,
                    MaMau,
                    KichThuocsp,
                    SoLuong
                )
                SELECT
                    JSON_VALUE(l.value, '$.id'),
                    JSON_VALUE(l.value, '$.idmau'),
                    JSON_VALUE(l.value, '$.kichthuoc'),
                    JSON_VALUE(l.value, '$.soluong')
                FROM OPENJSON(@List) AS l;
            END;

            DECLARE @HinhAnhModels NVARCHAR(MAX);
            SELECT @HinhAnhModels = JSON_QUERY(m.value, '$.hinhAnhModels') FROM OPENJSON(@Mau) AS m;

            IF (@HinhAnhModels IS NOT NULL)
            BEGIN
                INSERT INTO HinhAnh
                (
                    MaHinhAnh,
                    MaMau,
                    HinhAnh
                )
                SELECT
                    JSON_VALUE(h.value, '$.id'),
                    JSON_VALUE(h.value, '$.idMau'),
                    JSON_VALUE(h.value, '$.hinhanh_url')
                FROM OPENJSON(@HinhAnhModels) AS h;
            END;
        END;

        COMMIT;
    END TRY
    BEGIN CATCH
        ROLLBACK;
        -- You may want to log the error or handle it in an appropriate way.
        -- PRINT 'Error occurred: ' + ERROR_MESSAGE();
    END CATCH;
END;
GO
/****** Object:  StoredProcedure [dbo].[sp_sanpham_delete]    Script Date: 12/25/2023 11:45:38 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[sp_sanpham_delete] @id int
as
begin
	delete SanPham where MaSanPham=@id and MaSanPham!=0
end
GO
/****** Object:  StoredProcedure [dbo].[sp_sanpham_get_by_id]    Script Date: 12/25/2023 11:45:38 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE proc [dbo].[sp_sanpham_get_by_id]
@id int
as
begin
declare @maTH int;
select @maTH=MaThuongHieu from SanPham where MaSanPham=@id;
	select		
        SP.MaSanPham,
        SP.MaThuongHieu,
        SP.TenSanPham,
		(select MS.MaSanPham as idsp,MS.MaMau as id,MS.Mau as mausac,(select kt.MaKT as id ,kt.MaMau as idmau,
																		kt.KichThuocsp as kichthuoc ,kt.SoLuong as soluong from SanPham sp join MauSac ms 
																		on ms.MaSanPham=sp.MaSanPham
																		join KichThuoc kt on kt.MaMau=ms.MaMau 
																		where sp.MaSanPham=@id and sp.MaSanPham!=0 for Json path) as list,
																	(select ha.MaHinhAnh as id, ha.MaMau as idmau, ha.HinhAnh as hinhanh_url from SanPham sp join MauSac ms 
																		on ms.MaSanPham=sp.MaSanPham
																		join HinhAnh ha on ha.MaMau=ms.MaMau 
																		where sp.MaSanPham=@id and sp.MaSanPham!=0 for Json path) as hinhAnhModels
		from SanPham sp join MauSac ms 
		on ms.MaSanPham=sp.MaSanPham 
		where sp.MaSanPham=@id and sp.MaSanPham!=0 for Json path ) as Mau,
        MAX(HA.HinhAnh) AS HinhAnhDaiien,
		SP.DonGia as giaBans,
		(select top(5) SP.MaSanPham,
        SP.MaThuongHieu,SP.DonGia,
        SP.TenSanPham, MAX(HA.HinhAnh) AS HinhAnhDaiien
		from SanPham SP join MauSac MS 
		on MS.MaSanPham=SP.MaSanPham
			join HinhAnh HA on HA.MaMau=MS.MaMau
			where SP.MaThuongHieu=@maTH
				group by SP.MaSanPham,SP.MaThuongHieu,SP.TenSanPham,SP.DonGia 
				order by SP.MaSanPham
				for json path ) as dsspTT
		from SanPham SP join MauSac MS 
		on MS.MaSanPham=SP.MaSanPham
			join HinhAnh HA on HA.MaMau=MS.MaMau
				where SP.MaSanPham=@id and SP.MaSanPham!=0
				group by SP.MaSanPham,SP.MaThuongHieu,SP.TenSanPham,SP.DonGia

end;
GO
/****** Object:  StoredProcedure [dbo].[sp_sanpham_get_by_id3]    Script Date: 12/25/2023 11:45:38 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE proc [dbo].[sp_sanpham_get_by_id3]
@id int
as
begin
select		
        SP.MaSanPham,
        SP.MaThuongHieu,
        SP.TenSanPham,
		(select MS.MaSanPham as idsp,MS.MaMau as id,MS.Mau as mausac,(select kt.MaKT as id ,kt.MaMau as idmau,
																		kt.KichThuocsp as kichthuoc ,kt.SoLuong as soluong from SanPham sp join MauSac ms 
																		on ms.MaSanPham=sp.MaSanPham
																		join KichThuoc kt on kt.MaMau=ms.MaMau 
																		where sp.MaSanPham=@id and sp.MaSanPham!=0 for Json path) as list,
																	(select ha.MaHinhAnh as id, ha.MaMau as idmau, ha.HinhAnh as hinhanh_url from SanPham sp join MauSac ms 
																		on ms.MaSanPham=sp.MaSanPham
																		join HinhAnh ha on ha.MaMau=ms.MaMau 
																		where sp.MaSanPham=@id and sp.MaSanPham!=0 for Json path) as hinhAnhModels
		from SanPham sp join MauSac ms 
		on ms.MaSanPham=sp.MaSanPham 
		where sp.MaSanPham=@id and sp.MaSanPham!=0 for Json path ) as Mau,
        MAX(HA.HinhAnh) AS HinhAnhDaiien,
		SP.DonGia as giaBans
		from SanPham SP join MauSac MS 
		on MS.MaSanPham=SP.MaSanPham
			join HinhAnh HA on HA.MaMau=MS.MaMau
				where SP.MaSanPham=@id and SP.MaSanPham!=0
				group by SP.MaSanPham,SP.MaThuongHieu,SP.TenSanPham,SP.DonGia

	end;
GO
/****** Object:  StoredProcedure [dbo].[sp_sanpham_updatesp]    Script Date: 12/25/2023 11:45:38 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_sanpham_updatesp]
(
    @MaSanPham      INT,
    @MaThuongHieu   INT,
    @TenSanPham     NVARCHAR(250),
    @MoTa           NVARCHAR(250),
    @HinhDaiDien    NVARCHAR(250),
    @Mau            NVARCHAR(MAX),
    @giaBan         DECIMAL(18, 0)
)
AS
BEGIN
    BEGIN TRY
        BEGIN TRANSACTION;

        UPDATE SanPham
        SET
            MaThuongHieu = @MaThuongHieu,
            TenSanPham = @TenSanPham,
            MoTa = @MoTa,
            DonGia = @giaBan
        WHERE MaSanPham = @MaSanPham;

        IF (@Mau IS NOT NULL)
        BEGIN
            DECLARE @NextMaMau INT;
            SELECT @NextMaMau = ISNULL(MAX(MaMau), 0) + 1 FROM MauSac;
			declare @MauId int,@ArrList1 nvarchar(max),@ArrList2 nvarchar(max),@MauSac nvarchar(50);
            DECLARE MauCursor CURSOR FOR SELECT [value] FROM OPENJSON(@Mau);
			OPEN MauCursor;

            FETCH NEXT FROM MauCursor INTO @Mau;

            WHILE @@FETCH_STATUS = 0
			 SELECT
                @MauId=JSON_VALUE(@Mau, '$.id'),
                @MauSac=JSON_VALUE(@Mau, '$.mausac'),
                @ArrList1=JSON_QUERY(@Mau, '$.list'),
                @ArrList2=JSON_QUERY(@Mau, '$.hinhAnhModels')

            BEGIN
                IF (@MauId IS NOT NULL)
                BEGIN
                    -- Update existing record
                    UPDATE MauSac
                    SET
                        Mau = @MauSac
                    WHERE MaMau = @MauId;

                    -- Update or insert KichThuoc record
                    IF (@ArrList1 IS NOT NULL)
                    BEGIN
                        UPDATE KichThuoc
                        SET
                            MaMau = @MauId,
                            KichThuocsp = JSON_VALUE(l.value, '$.kichthuoc'),
                            SoLuong = JSON_VALUE(l.value, '$.soluong')
                        FROM OPENJSON(@ArrList1) AS l
                        WHERE MaKT = JSON_VALUE(l.value, '$.id');
                    END;

                    -- Update or insert HinhAnh record
                    IF (@ArrList2 IS NOT NULL)
                    BEGIN
                        UPDATE HinhAnh
                        SET
                            HinhAnh = JSON_VALUE(h.value, '$.hinhanh_url')
                        FROM OPENJSON(@ArrList2) AS h
                        WHERE MaHinhAnh = JSON_VALUE(h.value, '$.id');
                    END;
                END
                ELSE
                BEGIN
                    -- Insert new record
                    INSERT INTO MauSac (MaMau, MaSanPham, Mau)
                    VALUES (@NextMaMau, @MaSanPham, @MauSac);

                    -- Increment @NextMaMau for the next row
                   

                    -- Insert KichThuoc records
                    IF (@ArrList1 IS NOT NULL)
                    BEGIN
                        INSERT INTO KichThuoc (MaMau, KichThuocsp, SoLuong)
                        SELECT
                            @NextMaMau,
                            JSON_VALUE(l.value, '$.kichthuoc'),
                            JSON_VALUE(l.value, '$.soluong')
                        FROM OPENJSON(@ArrList1) AS l;
                    END;

                    -- Insert HinhAnh records
                    IF (@ArrList2 IS NOT NULL)
                    BEGIN
                        INSERT INTO HinhAnh (MaMau, HinhAnh)
                        SELECT
                            @NextMaMau,
                            JSON_VALUE(h.value, '$.hinhanh_url')
                        FROM OPENJSON(@ArrList2) AS h;
                    END;
                END;
				 SET @NextMaMau = @NextMaMau + 1;
                FETCH NEXT FROM MauCursor INTO @Mau;
            END;

            CLOSE MauCursor;
            DEALLOCATE MauCursor;
        END;

        COMMIT;
    END TRY
    BEGIN CATCH
        ROLLBACK;
    END CATCH;
END;
GO
/****** Object:  StoredProcedure [dbo].[sp_search_sanpham_by_name]    Script Date: 12/25/2023 11:45:38 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
 create proc [dbo].[sp_search_sanpham_by_name] (@name nvarchar(100))
 as
 begin
 
 select SP.MaSanPham,
        SP.MaThuongHieu,SP.DonGia,
        SP.TenSanPham, MAX(HA.HinhAnh) AS HinhAnhDaiien
		from SanPham SP join MauSac MS 
		on MS.MaSanPham=SP.MaSanPham
			join HinhAnh HA on HA.MaMau=MS.MaMau
			where lower(SP.TenSanPham) like N'%' + @name + '%' and SP.MaSanPham!=0 
				group by SP.MaSanPham,SP.MaThuongHieu,SP.TenSanPham,SP.DonGia 
				order by SP.MaSanPham
end
GO
/****** Object:  StoredProcedure [dbo].[sp_search_sanpham_by_price]    Script Date: 12/25/2023 11:45:38 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE proc [dbo].[sp_search_sanpham_by_price](@MaLoai int, @MaThuongHieu int,@giaMin decimal(18,0),@giaMax decimal(18,0))
as
begin
	if(@MaThuongHieu is null)
	begin
	select
		SP.MaSanPham,
        SP.MaThuongHieu,SP.DonGia,
        SP.TenSanPham, MAX(HA.HinhAnh) AS HinhAnhDaiien
		from LoaiSanPham lsp join ThuongHieu th on th.MaLoai=lsp.MaLoai join SanPham SP on Sp.MaThuongHieu=th.MaThuongHieu join MauSac MS 
		on MS.MaSanPham=SP.MaSanPham
			join HinhAnh HA on HA.MaMau=MS.MaMau
			where lsp.MaLoai=@MaLoai and (SP.DonGia between @giaMin and @giaMax)
				group by SP.MaSanPham,SP.MaThuongHieu,SP.TenSanPham,SP.DonGia 
				order by SP.MaSanPham
	end
	
		else
		begin
			select
		SP.MaSanPham,
        SP.MaThuongHieu,SP.DonGia,
        SP.TenSanPham, MAX(HA.HinhAnh) AS HinhAnhDaiien
		from ThuongHieu th join SanPham SP on Sp.MaThuongHieu=th.MaThuongHieu join MauSac MS 
		on MS.MaSanPham=SP.MaSanPham
			join HinhAnh HA on HA.MaMau=MS.MaMau
			where th.MaThuongHieu=@MaThuongHieu and (SP.DonGia between @giaMin and @giaMax)
				group by SP.MaSanPham,SP.MaThuongHieu,SP.TenSanPham,SP.DonGia 
				order by SP.MaSanPham
		end
	
end
GO
/****** Object:  StoredProcedure [dbo].[sp_show_mau_conhang]    Script Date: 12/25/2023 11:45:38 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE proc [dbo].[sp_show_mau_conhang] (@MaSanPham int, @size nchar(10))
as
begin
	SELECT ms.MaMau,ms.Mau,
    CASE
        WHEN SoLuong > 0 THEN 'True'
        ELSE 'False'
    END AS ConHang
FROM MauSac ms join KichThuoc kt on ms.MaMau=kt.MaMau where ms.MaSanPham=@MaSanPham and trim(@size)=trim(kt.KichThuocsp);
end
GO
/****** Object:  StoredProcedure [dbo].[sp_show_size_conhang]    Script Date: 12/25/2023 11:45:38 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE proc [dbo].[sp_show_size_conhang] (@mauID int)
as
begin
	SELECT
    KichThuocsp, SoLuong,
    CASE
        WHEN SoLuong > 0 THEN 'True'
        ELSE 'False'
    END AS ConHang
FROM
    KichThuoc where MaMau=@mauID;
end
GO
/****** Object:  StoredProcedure [dbo].[sp_SuaLoaiSanPham]    Script Date: 12/25/2023 11:45:38 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_SuaLoaiSanPham]
@MaLoai int,
@TenLoai nvarchar(50),
@MoTa nvarchar(max)
AS
BEGIN
    UPDATE LoaiSanPham
    SET TenLoai = @TenLoai,
        MoTa = @MoTa
    WHERE MaLoai = @MaLoai and MaLoai!=0;
END;
GO
/****** Object:  StoredProcedure [dbo].[sp_SuaThuongHieu]    Script Date: 12/25/2023 11:45:38 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_SuaThuongHieu]
@MaThuongHieu int,
@MaLoai int,
@TenThuongHieu nvarchar(max)
AS
BEGIN
    UPDATE ThuongHieu
    SET TenThuongHieu = @TenThuongHieu,
        MaLoai = @MaLoai
    WHERE MaThuongHieu = @MaThuongHieu and MaThuongHieu!=0;
END;
GO
/****** Object:  StoredProcedure [dbo].[sp_ThemLoaiSanPham]    Script Date: 12/25/2023 11:45:38 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_ThemLoaiSanPham]
@TenLoai nvarchar(50),
@MoTa nvarchar(100)
AS
DECLARE @MaLoai int;
SELECT @MaLoai = ISNULL(MAX(MaLoai), 0) + 1 FROM LoaiSanPham;
INSERT INTO LoaiSanPham (MaLoai, TenLoai, MoTa)
VALUES (@MaLoai, @TenLoai, @MoTa);
GO
/****** Object:  StoredProcedure [dbo].[sp_ThemSanPham]    Script Date: 12/25/2023 11:45:38 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_ThemSanPham]
(
@MaSanPham int,
@MaThuongHieu int,
@TenSanPham nvarchar(100),
@MauJson nvarchar(max),
@GiaBansJson nvarchar(max)
)
AS
BEGIN
    BEGIN TRY
        BEGIN TRAN;

        -- Thêm thông tin sản phẩm
        INSERT INTO SanPham (MaSanPham, MaThuongHieu, TenSanPham)
        VALUES (@MaSanPham, @MaThuongHieu, @TenSanPham);

        -- Chuyển đổi JSON Mau thành bảng tạm
        DECLARE @MauTable TABLE (
            Id int,
            IdSP nvarchar(max),
            MauSac nvarchar(max),
            ListJson nvarchar(max),
            HinhAnhModelsJson nvarchar(max)
        );
        INSERT INTO @MauTable (Id, IdSP, MauSac, ListJson, HinhAnhModelsJson)
        SELECT 
            JSON_VALUE(Mau.value('($.id)[0]', 'nvarchar(max)'), '$'),
            JSON_VALUE(Mau.value('($.idsp)[0]', 'nvarchar(max)'), '$'),
            JSON_VALUE(Mau.value('($.mausac)[0]', 'nvarchar(max)'), '$'),
            Mau.value('($.list)[0]', 'nvarchar(max)'),
            Mau.value('($.hinhAnhModels)[0]', 'nvarchar(max)')
        FROM OPENJSON(@MauJson, '$.mau') AS Mau;

        -- Thêm thông tin Mau
        INSERT INTO MauSac (MaSanPham, MaMau, Mau)
        SELECT 
            @MaSanPham,
            Id,
            MauSac
        FROM @MauTable;

        -- Thêm thông tin List
        INSERT INTO KichThuoc (MaMau, MaKT, KichThuoc, SoLuong)
        SELECT
            Id,
            JSON_VALUE(ListJson.value('($.id)[0]', 'nvarchar(max)'), '$'),
            JSON_VALUE(ListJson.value('($.kichthuoc)[0]', 'nvarchar(max)'), '$'),
            JSON_VALUE(ListJson.value('($.soluong)[0]', 'nvarchar(max)'), '$')
        FROM @MauTable
        CROSS APPLY OPENJSON(ListJson, '$.list');

        -- Thêm thông tin HinhAnhModels
        INSERT INTO HinhAnh (MaMau, MaHinhAnh, HinhAnh)
        SELECT
            Id,
            JSON_VALUE(HinhAnhModelsJson.value('($.id)[0]', 'nvarchar(max)'), '$'),
            JSON_VALUE(HinhAnhModelsJson.value('($.hinhanh_url)[0]', 'nvarchar(max)'), '$')
        FROM @MauTable
        CROSS APPLY OPENJSON(HinhAnhModelsJson, '$.hinhAnhModels');

        -- Thêm thông tin GiaBan
        INSERT INTO DonGia (MaSanPham, MaDonGia, DonGia, MoTa)
        SELECT 
            @MaSanPham,
            JSON_VALUE(GiaBan.value('($.id)[0]', 'nvarchar(max)'), '$'),
            JSON_VALUE(GiaBan.value('($.dongia)[0]', 'nvarchar(max)'), '$'),
            JSON_VALUE(GiaBan.value('($.mota)[0]', 'nvarchar(max)'), '$')
        FROM OPENJSON(@GiaBansJson, '$.giaBans') AS GiaBan;

        COMMIT;
    END TRY
    BEGIN CATCH
        ROLLBACK;
        -- Xử lý lỗi nếu cần thiết
        THROW;
    END CATCH;
END;
GO
/****** Object:  StoredProcedure [dbo].[sp_ThemThuongHieu]    Script Date: 12/25/2023 11:45:38 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_ThemThuongHieu]
@MaLoai int,
@TenThuongHieu nvarchar(50)
AS
DECLARE @MaThuongHieu int;
SELECT @MaThuongHieu = ISNULL(MAX(MaThuongHieu), 0) + 1 FROM ThuongHieu;
INSERT INTO ThuongHieu (MaThuongHieu, MaLoai, TenThuongHieu)
VALUES (@MaThuongHieu, @MaLoai, @TenThuongHieu);
GO
/****** Object:  StoredProcedure [dbo].[sp_updatesp]    Script Date: 12/25/2023 11:45:38 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE proc [dbo].[sp_updatesp]
(
    @MaSanPham      INT,
    @MaThuongHieu   INT,
    @TenSanPham     NVARCHAR(250),
    @MoTa           NVARCHAR(250),
    @HinhDaiDien    NVARCHAR(250),
    @Mau            NVARCHAR(MAX),
    @giaBan         DECIMAL(18, 0)
)
as
begin
	BEGIN TRY
	begin TRANSACTION
         UPDATE SanPham
            SET
                MaThuongHieu = @MaThuongHieu,
                TenSanPham = @TenSanPham,
                MoTa = @MoTa,
                DonGia = @giaBan
            WHERE MaSanPham = @MaSanPham;
        IF (@Mau IS NOT NULL)
        BEGIN
		UPDATE MauSac
            SET
				MaSanPham= JSON_VALUE(m.value, '$.idsp'),
                Mau = JSON_VALUE(m.value, '$.mausac')
            FROM OPENJSON(@Mau) AS m
            WHERE MauSac.MaMau = JSON_VALUE(m.value, '$.id')
			  
			 DECLARE @List NVARCHAR(MAX);
            SELECT @List = JSON_QUERY(m.value, '$.list') FROM OPENJSON(@Mau) AS m;
            IF (@List IS NOT NULL)
            BEGIN    
				UPDATE KichThuoc set
					MaMau=JSON_VALUE(l.value, '$.idmau'),
					KichThuocsp= JSON_VALUE(l.value, '$.kichthuoc'),
					SoLuong=JSON_VALUE(l.value, '$.soluong')
				from openjson(@list)as l
				where MaKT=JSON_VALUE(l.value, '$.id')
            
               
            END;

            DECLARE @HinhAnhModels NVARCHAR(MAX);
            SELECT @HinhAnhModels = JSON_QUERY(m.value, '$.hinhAnhModels') FROM OPENJSON(@Mau) AS m;

            IF (@HinhAnhModels IS NOT NULL)
            BEGIN
				update HinhAnh set
				HinhAnh=JSON_VALUE(h.value, '$.hinhanh_url')
				FROM OPENJSON(@HinhAnhModels) AS h
				where MaHinhAnh=JSON_VALUE(h.value, '$.id')
            END;   
            
        END; 
        

		commit;
	end try
	begin catch
		rollback;
	end catch

end
GO
/****** Object:  StoredProcedure [dbo].[thk_doanhthu_theothang_namnay]    Script Date: 12/25/2023 11:45:38 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[thk_doanhthu_theothang_namnay]
as
begin
	select MONTH(dh.NgayTao) AS Month, SUM(ct.DonGia * ct.SoLuong) as DoanhThu
	from DonHang dh
	join ChiTietDonHang ct ON ct.MaDonHang = dh.MaDonHang
	where year(dh.NgayTao) = year(getdate())
	and dh.DuyetDon=1
	group by dh.NgayTao
end
GO
/****** Object:  StoredProcedure [dbo].[tk_ctdoanhthu_bk]    Script Date: 12/25/2023 11:45:38 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE proc [dbo].[tk_ctdoanhthu_bk] (@ngayMin date,@ngayMax date)
as
begin
	select ct.MaSanPham,sp.TenSanPham,sum(ct.SoLuong) as SoLuongBan,ct.DonGia, sum(ct.SoLuong)*ct.DonGia as Tong
	from DonHang dh
	join ChiTietDonHang ct ON ct.MaDonHang = dh.MaDonHang
	join SanPham sp on sp.MaSanPham=ct.MaSanPham
	where dh.NgayTao between @ngayMin and @ngaymax and dh.DuyetDon=1
	group by ct.MaSanPham,sp.TenSanPham,ct.DonGia
end
GO
/****** Object:  StoredProcedure [dbo].[tk_ctdoanhthu_hom_nay]    Script Date: 12/25/2023 11:45:38 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE proc [dbo].[tk_ctdoanhthu_hom_nay]
as
begin
	select ct.MaSanPham,sp.TenSanPham,sum(ct.SoLuong) as SoLuongBan,ct.DonGia, sum(ct.SoLuong)*ct.DonGia as Tong
	from DonHang dh
	join ChiTietDonHang ct ON ct.MaDonHang = dh.MaDonHang
	join SanPham sp on sp.MaSanPham=ct.MaSanPham
	where  convert(date, dh.NgayTao)=convert(date, getDate()) and dh.DuyetDon=1
	group by ct.MaSanPham,sp.TenSanPham,ct.DonGia
end
GO
/****** Object:  StoredProcedure [dbo].[tk_ctdoanhthu_Nam_nay]    Script Date: 12/25/2023 11:45:38 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE proc [dbo].[tk_ctdoanhthu_Nam_nay]
as
begin
	select ct.MaSanPham,sp.TenSanPham,sum(ct.SoLuong) as SoLuongBan,ct.DonGia, sum(ct.SoLuong)*ct.DonGia as Tong
	from DonHang dh
	join ChiTietDonHang ct ON ct.MaDonHang = dh.MaDonHang
	join SanPham sp on sp.MaSanPham=ct.MaSanPham
	where year(dh.NgayTao) = year(getdate()) and dh.DuyetDon=1
	group by ct.MaSanPham,sp.TenSanPham,ct.DonGia
end
GO
/****** Object:  StoredProcedure [dbo].[tk_ctdoanhthu_thang_nay]    Script Date: 12/25/2023 11:45:38 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE proc [dbo].[tk_ctdoanhthu_thang_nay]
as
begin
	select ct.MaSanPham,sp.TenSanPham,sum(ct.SoLuong) as SoLuongBan,ct.DonGia, sum(ct.SoLuong)*ct.DonGia as Tong
	from DonHang dh
	join ChiTietDonHang ct ON ct.MaDonHang = dh.MaDonHang
	join SanPham sp on sp.MaSanPham=ct.MaSanPham
	where year(dh.NgayTao) = year(getdate())
	and month(dh.NgayTao) = month(getdate()) and dh.DuyetDon=1
	group by ct.MaSanPham,sp.TenSanPham,ct.DonGia
end
GO
/****** Object:  StoredProcedure [dbo].[tk_doanhthu_bk]    Script Date: 12/25/2023 11:45:38 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE proc [dbo].[tk_doanhthu_bk] (@ngayMin date, @ngaymax date)
as
begin
	select SUM(ct.DonGia * ct.SoLuong) as DoanhThu
	from DonHang dh
	join ChiTietDonHang ct ON ct.MaDonHang = dh.MaDonHang
	where dh.NgayTao between @ngayMin and @ngaymax  and dh.DuyetDon=1
end
GO
/****** Object:  StoredProcedure [dbo].[tk_doanhthu_homnay]    Script Date: 12/25/2023 11:45:38 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE proc [dbo].[tk_doanhthu_homnay]
as
begin
	select sum(ct.DonGia * ct.SoLuong) as DoanhThu
	from DonHang dh join ChiTietDonHang ct on ct.MaDonHang=dh.MaDonHang 
	where convert(date, dh.NgayTao)=convert(date, getDate()) and dh.DuyetDon=1
end
GO
/****** Object:  StoredProcedure [dbo].[tk_doanhthu_namnay]    Script Date: 12/25/2023 11:45:38 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE proc [dbo].[tk_doanhthu_namnay]
as
begin
	select SUM(ct.DonGia * ct.SoLuong) as DoanhThu
	from DonHang dh
	join ChiTietDonHang ct ON ct.MaDonHang = dh.MaDonHang
	where year(dh.NgayTao) = year(getdate()) and dh.DuyetDon=1
end
GO
/****** Object:  StoredProcedure [dbo].[tk_doanhthu_thangnay]    Script Date: 12/25/2023 11:45:38 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE proc [dbo].[tk_doanhthu_thangnay]
as
begin
	select SUM(ct.DonGia * ct.SoLuong) as DoanhThu
	from DonHang dh
	join ChiTietDonHang ct ON ct.MaDonHang = dh.MaDonHang
	where year(dh.NgayTao) = year(getdate())
	and month(dh.NgayTao) = month(getdate()) and dh.DuyetDon=1;
end
GO
/****** Object:  StoredProcedure [dbo].[tk_hoadonnhap]    Script Date: 12/25/2023 11:45:38 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[tk_hoadonnhap] (@ngayMin date, @ngaymax date)
as
begin
	select SUM(ct.DonGia * ct.SoLuong) as TongTien
	from DonHangNhap dh
	join ChiTietDonHangNhap ct ON ct.MaDonHang = dh.MaDonHang
	where dh.NgayTao between @ngayMin and @ngaymax 
end
GO
/****** Object:  StoredProcedure [dbo].[tk_sanphambanchay_tg_bk]    Script Date: 12/25/2023 11:45:38 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE proc [dbo].[tk_sanphambanchay_tg_bk] (@top int, @ngaymin date, @ngaymax date)
as
begin
	select top(@top) WITH TIES sp.MaSanPham,sp.TenSanPham,sp.MaThuongHieu,sp.MoTa, sum(ct.SoLuong) as SoLuongTon 
		from DonHang dh 
		join ChiTietDonHang ct on dh.MaDonHang=ct.MaDonHang 
		join SanPham sp on ct.MaSanPham=sp.MaSanPham 
		where dh.NgayTao between @ngayMin and @ngaymax 
		group by sp.MaSanPham,sp.TenSanPham,sp.MaThuongHieu,sp.MoTa
		order by sum(ct.SoLuong) desc
end
GO
/****** Object:  StoredProcedure [dbo].[tk_sanphambanchay_thangnay]    Script Date: 12/25/2023 11:45:38 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE proc [dbo].[tk_sanphambanchay_thangnay] (@top int)
as
begin
	select top(@top) WITH TIES sp.MaSanPham,sp.TenSanPham,sp.MaThuongHieu,sp.MoTa, sum(ct.SoLuong) as SoLuongTon 
		from DonHang dh 
		join ChiTietDonHang ct on dh.MaDonHang=ct.MaDonHang 
		join SanPham sp on ct.MaSanPham=sp.MaSanPham 
		where year(dh.NgayTao) = year(getdate()) and month(dh.NgayTao) = month(getdate())
		group by sp.MaSanPham,sp.TenSanPham,sp.MaThuongHieu,sp.MoTa
		order by sum(ct.SoLuong) desc
end
GO
/****** Object:  StoredProcedure [dbo].[tk_sanphambanchay_today]    Script Date: 12/25/2023 11:45:38 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE proc [dbo].[tk_sanphambanchay_today] (@top int)
as
begin
	select top(@top) WITH TIES sp.MaSanPham,sp.TenSanPham,sp.MaThuongHieu,sp.MoTa, sum(ct.SoLuong) as SoLuongTon 
		from DonHang dh 
		join ChiTietDonHang ct on dh.MaDonHang=ct.MaDonHang 
		join SanPham sp on ct.MaSanPham=sp.MaSanPham 
		where convert(date, dh.NgayTao)=convert(date, getDate())
		group by sp.MaSanPham,sp.TenSanPham,sp.MaThuongHieu,sp.MoTa
		order by sum(ct.SoLuong) desc
end
GO
/****** Object:  StoredProcedure [dbo].[tk_spSapHet]    Script Date: 12/25/2023 11:45:38 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- hiển thị sắp hết
CREATE proc [dbo].[tk_spSapHet] (@topsp int, @soluongmin int)
as
begin
	select top (@topsp) sp.MaSanPham,sp.TenSanPham,sp.MaThuongHieu,sum(kt.SoLuong) as SoLuongTon,sp.MoTa from SanPham sp join MauSac ms on ms.MaSanPham=sp.MaSanPham
									join KichThuoc kt on kt.MaMau=ms.MaMau
									group by sp.MaSanPham,sp.TenSanPham,sp.MaThuongHieu,sp.MoTa
									having sum(kt.SoLuong)<=@soluongmin

end
GO
/****** Object:  StoredProcedure [dbo].[tk_spTon]    Script Date: 12/25/2023 11:45:38 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[tk_spTon] (@topsp int)
as
begin
	select top (@topsp) sp.MaSanPham,sp.TenSanPham,sp.MaThuongHieu,sum(kt.SoLuong) as SoLuongTon,sp.MoTa from SanPham sp join MauSac ms on ms.MaSanPham=sp.MaSanPham
									join KichThuoc kt on kt.MaMau=ms.MaMau
									group by sp.MaSanPham,sp.TenSanPham,sp.MaThuongHieu,sp.MoTa
									order by SoLuongTon desc

end
GO
/****** Object:  StoredProcedure [dbo].[XacNhan_GuiHang]    Script Date: 12/25/2023 11:45:38 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE proc [dbo].[XacNhan_GuiHang] @id int
as
begin
	SET NOCOUNT ON;
	declare @kq NVARCHAR(MAX);
	IF EXISTS (SELECT 1 FROM DonHang WHERE MaDonHang = @id AND DuyetDon = 1)
    BEGIN
		update DonHang set NgayGui=getdate() where MaDonHang=@id and DuyetDon=1;
		SET @kq = N'Cập nhật thành công';
		end
	else
	begin
			set @kq=N'Bạn chưa thể xác nhận đơn này';

	end
	select @kq from DonHang where MaDonHang = @id AND DuyetDon = 1
end
GO
/****** Object:  StoredProcedure [dbo].[XoaDonHang]    Script Date: 12/25/2023 11:45:38 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE proc [dbo].[XoaDonHang] (@id int)
as
begin
UPDATE KichThuoc
	SET SoLuong = KichThuoc.SoLuong + ChiTietDonHang.SoLuong
	FROM DonHang dh inner join ChiTietDonHang on dh.MaDonHang=ChiTietDonHang.MaDonHang
	INNER JOIN KichThuoc ON KichThuoc.MaMau = ChiTietDonHang.MaMau and KichThuoc.KichThuocsp=ChiTietDonHang.KichThuoc
	WHERE ChiTietDonHang.MaDonHang = @id and DuyetDon=0;
	declare @MaKH int;
	select @MaKH=MaKhachHang from DonHang where MaDonHang=5 and DonHang.NgayGui is null and DuyetDon=0;
	delete KhachHang where MaKhachHang=@MaKH
	select MaDonHang,NgayTao,DuyetDon,NgayGui,NgayNhan from DonHang where MaDonHang = @id


end
GO
